@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#scott06 {
	padding: 30px;
	background-color: #0C000E;
	transition: background-color .5s;
	border-radius: 10px;
	box-shadow: -8px -5px 5px #a496c2;
	position: relative;
	/* working purposes */
	width: 450px;

}

#scott06:hover {
	background: linear-gradient(0.90turn, #5b3d7a, #73598e, #59377f, #4d237c,  #410f78,  #7d4ab7, #905bcc, #bd86fb, #130027);
}

#scott06 .name {
	font-family: 'Roboto', sans-serif;
	color: floralwhite;
	text-align: center;
	text-decoration: underline;
	letter-spacing: .05em;
   line-height: 1.5;
}

#scott06 .teaser {
	font-family: 'Roboto', sans-serif;
	color: floralwhite;
	text-align: center;
	letter-spacing: .04em;
   line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 20px;
}

#scott06 .link {
	display: inline-block;
	background-color: floralwhite;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	padding: 10px;
	margin-left: 185px;
	position: absolute;
	left: 8%;
	bottom: 15px;
}


